/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    /* color: #fff; */
    font-family: 'Open Sans', s;
}
header{
    width: 1600px;
    margin-bottom: 100px;
    padding: 8px 100px;
    background: #FFFFFF; 
    -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); 
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    position: fixed;
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 1600px;
    font-family: 'Open Sans', sans-serif;
    padding: 8px 100px;
}
.header{
    font-family: 'Open Sans', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.site-nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;   
    -webkit-box-align: center;   
        -ms-flex-align: center;   
            align-items: center;
    font-family: 'Open Sans', sans-serif;
    margin-left: 450px;
    padding: 0px;
}
.site-nav p:active{
     background-color: #333;
     color: white;
}
.site-nav p{
    padding: 16px;  
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    color: #000000;
}
.site-nav p:hover{
    border-bottom: 3px solid #191919;
}
.s1{
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
}
header .link:hover{
    background-color: #fff;
    color: #00BAFC;
    width: 163px;
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    border: 3px solid #00BAFC;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    
}
header .link{
    margin-left: 24px;
    padding: 8px 16px;
    width: 159px;
    height: 40px;
    background: #00BAFC;
    border-radius: 5px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;    
}
.logo:active{
    
}
.logo:hover{
    cursor: pointer;
    opacity: 0.7;
}
section{
    width: 1600px;
    padding: 100px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}
.wrapper1{
    width: 1200px;
    padding: 80px   0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.promo-text{
    width: 470px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    gap: 16px;
    background-color: #fff;
}
.promo-text h2{
    font-family: 'Open Sans', sans-serif;
    width: 470px;   
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;  
}
.promo-text{
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.promo-text button:hover{
    background: rgba(0, 186, 252, 0.8);
    border-radius: 5px;
}
.promo-text button{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 30px;
    padding: 8px 16px;
    gap: 10px;
    width: 232px;
    height: 40px;
    cursor: pointer;
    border: none;
    font-family: 'Open Sans', sans-serif;
    background: #00BAFC;
    border-radius: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    
}
.wrapper1 img{
    width: 458px;
    height: 258px;
    border-radius: 5px;
}
.services{
    font-family: 'Open Sans', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 0px 56px;
    gap: 16px;
}
.services-top{
    width: 719px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.services-top h2{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #000000;
    margin-bottom: 16px;    
}
.services-top p{
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    text-align: center;
    color: #000000;
}
.services-list{
    -webkit-column-gap: 120px;
       -moz-column-gap: 120px;
            column-gap: 120px;
    font-family: 'Open Sans', sans-serif;
    row-gap: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 1200px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    
}
.services-footer button:hover{
    background: rgba(0, 186, 252, 0.8);
    border-radius: 5px;
}
.service:hover{
    background: #FFFFFF;
    -webkit-box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.service{
    width: 320px;
    padding: 24px 0;
    text-align: center;
    background: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    -webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.service h2{
    margin: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    line-height: 130%;
    text-align: center;
    color: #000000;
}
.service p{
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}
.services-footer{
    width: 378px;
    height: 64px;
    font-family: 'Open Sans', sans-serif;
    margin: 16px;
}
.services-footer button{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #00BAFC;
    border-radius: 5px;
    border: none;
    padding: 8px 16px;
    
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.services-footer a{
    width: 192px;
    margin-left: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    font-family: 'Open Sans', sans-serif;
    color: #00BAFC;
}
.work{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Open Sans', sans-serif;
    padding: 56px 0px;
    gap: 16px;
}
.work-list{
    font-family: 'Open Sans', sans-serif;
    row-gap: 30px;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    gap: 20px;
}
.work h2{
    width: 262px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #000000;
}
.work p{
    width: 719px;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}
.step1{
    margin: 20px;
    width: 832px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px;
    gap: 32px;
}
.step1-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 500px;
}
.step1-info h2{
    text-align: left;    
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    line-height: 130%;
    color: #000000;
}
.step1-info p{
    font-family: 'Open Sans', sans-serif;
    width: 493px;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.step2{
    width: 832px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    font-family: 'Open Sans', sans-serif;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px;
    gap: 32px;
}
.work button{
    margin-top: 50px;
    background: #00BAFC;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 8px 16px;
    gap: 10px;
    cursor: pointer;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.order-form{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* align-items: center; */
    padding: 56px 100px;
    gap: 16px;
}
.order-form h2{
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
}
.s3{
    background: #00BAFC;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
}
.container3{
    width: 1600px;
    padding: 8px 100px;
    
}
.order-form p{
    width: 719px;
    margin: 0 auto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 8px 0px;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    width: 348px;
    height: 320px;
}
.order-form form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Open Sans', sans-serif;
    padding: 24px;
    gap: 16px;
    width: 348px;
    height: 304px;
    background: #FFFFFF;
    border-radius: 5px;
}
.form-input{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 16px;
    width: 300px;
    height: 56px;
    background: #F3F3F3;
    border: none;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: left;
    color: #000000;
}
select{
    width: 300px;
    height: 56px;
    padding: 16px;
    background: #F3F3F3;
    border-radius: 5px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    font-family: 'Open Sans', sans-serif;
    background-image: url('../images/caret-down-fill.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 275px;
    border: none;
}
option{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: left;
    color: #000000;
}
.form-button{
    font-family: 'Open Sans', sans-serif;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 8px 16px;
    gap: 10px;
    width: 167px;
    height: 40px;
    background: #00BAFC;
    border-radius: 5px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0 auto;
}
.site-footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.copyright{
    width: 320px;
    height: 162px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.copyright1{
    width: 143px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0;
}
.copyright strong{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 16px;
    font-family: 'Open Sans', sans-serif;
}
.copyright1 strong{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 16px;
    font-family: 'Open Sans', sans-serif;
}
.copyright1 strong{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 16px;
    font-family: 'Open Sans', sans-serif;
}
.block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 190px;
    -webkit-column-gap: 87px;
       -moz-column-gap: 87px;
            column-gap: 87px;
}
.copyright p{
    width: 320px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 8px;
}
.copyright-text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 5px;
       -moz-column-gap: 5px;
            column-gap: 5px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 8px;
}
.copyright1 p{
    width: 320px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 8px;
}
footer{
    width: 1600px;
    padding: 56px 100px;
    background-color: #191919;
}